:root{
  --yellow:#f4c400;
  --green:#0b5d2a;
}

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: Arial, sans-serif;
}

body{
  background:#f9f9f9;
}

header{
  background:var(--green);
  padding:10px 20px;
}

nav{
  display:flex;
  justify-content:space-between;
  align-items:center;
  flex-wrap:wrap;
}

.logo{
  color:white;
  font-size:22px;
  font-weight:bold;
}

.nav-links{
  display:flex;
  gap:15px;
}

.nav-links a{
  color:white;
  text-decoration:none;
}

.menu-toggle{
  display:none;
  font-size:28px;
  color:white;
  cursor:pointer;
}

.hero{
  background:var(--yellow);
  padding:40px 10px;
  text-align:center;
}

/* Mobile Styles */
@media (max-width:768px){
  nav{
    flex-direction:column;
    align-items:flex-start;
  }

  .nav-links{
    flex-direction:column;
    width:100%;
    display:none; /* hide by default */
  }

  .nav-links a{
    padding:10px 0;
    width:100%;
  }

  .menu-toggle{
    display:block;
  }

  .nav-links.active{
    display:flex; /* show on click */
  }

  .hero{
    padding:30px 15px;
    font-size:16px;
  }

  .gallery img{
    width:100%;
    max-width:250px;
  }
}

.gallery{
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
}
.section input{
width:100%;
padding:10px;
margin:8px 0;
border-radius:6px;
border:1px solid #ccc;
}

.section button{
background:var(--green);
color:white;
padding:12px;
width:100%;
border:none;
border-radius:6px;
font-size:16px;
}
